header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: tan;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    background-color: rgb(30, 134, 172);

}

.restart-button {
    max-width: 250px;
    max-height: 250px;
    background-color: aquamarine;
    align-self: center;
    justify-self: center;
    padding: 20px;
}

.choose-character {
    display: flex;
    background-color:tan;
    justify-self: center;
    width: 100%;
    align-items: center;
    flex-flow: column;
}

#game {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;

    align-self: center;
    justify-self: center;

    
    

    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    
    max-width: 750px;

}



.game-board #game{
    display: grid;

    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));

    border-radius: 10%;

    font-size: 30px;
    
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24pt;
}

.piece {
    align-items: center;
    justify-content: center;
    display: flex;
}

#difficulty {
    padding-bottom: 15px;
}

#start-button {
    width: 100px;
    height: 100px;

    margin-left: 15px;
    margin-bottom: 15px;

}